.header {
    color: white;
    background-color: #4c9bd3;
    padding: 70px 50px 40px 50px;
}
.toolbar {
    background-color: #d4d4d4;
    padding: 15px 0px;
}
.sidebar {
    color: white;
    background-color: #4c9bd3;
    padding-top: 30px;
}
.main {
    padding: 80px 120px 80px 80px;
}
.footer {
    color: white;
    background-color: #151515;
    padding: 50px;
    font-style: italic;
    line-height: 200%;
}



.video {
    display: block;
    margin: 10px auto 50px auto;
}

.subheading{
    margin-top: 10px;
}
.info {
    padding-top: 15px;
    padding-left: 15px;
}
.footerText {
    font-size: 12px;
    line-height: 200%;
}


ul {
    list-style: none;
}
li {
    list-style: none;
    padding: 15px;
    margin-left: -25px;
}
a {
    color: white;
    text-decoration: none;
}