.header {
    color: white;
    background-color: #4c9bd3;
    padding: 25px 50px;
}
.toolbar {
    color: white;
    background-color: #d4d4d4;
    padding: 15px 25px;
}
.sidebar {
    color: white;
    background-color: #4c9bd3;
    padding-top: 30px;
}
.main {
    padding: 40px;
}
.footer {
    color: white;
    background-color: #151515;
    padding: 40px;
    font-style: italic;
}



.video {
    display: block;
    margin: 50px;
}

.subheading{
    margin-top: 10px;
}
.info {
    padding-top: 15px;
    padding-left: 15px;
}



ul {
    list-style: none;
}
li {
    list-style: none;
    padding: 15px;
    margin-left: -25px;
}
a {
    color: white;
    text-decoration: none;
}
